*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    --bg-color: #FFFFFF;
    --text-color: #000000;
    --link-color: #fdb927;
    --primary-color: #1d428a;
    --primary-color-hover: #fdb927 ;
  }
  body.city{
    --bg-color: #000000;
    --text-color: #fdb927;
    --link-color: #000000;
    --primary-color: #fdb927;
    --primary-color-hover: #8d6309 ;
  }
  body.classic{
    --bg-color: #013286;
    --text-color: #fdb927;
    --link-color: #1d428a;
    --primary-color: #fdb927;
    --primary-color-hover: #8d6309 ;
  }
  .container{
    text-align: center;
    width: 300px;
    margin: 60px auto;
  }
  body{
    font: 18px Arial;
    background: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
  }
  h1{
    margin-top: 24px;
    margin-bottom: 8px;
  }
  p{
    font-family: 'Roboto Mono', monospace;
    opacity: 0.8;
  }
  ul{
    list-style: none;
    margin: 48px 0px;
  }
  ul li a{
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    text-transform: uppercase;
    font-size: 14px;
    color: var(--link-color);
    margin-bottom: 16px;
    border-radius: 6px;
    transition: background 400ms;
  }
  ul li a:hover{
    background: var(--primary-color-hover);
  }
  a{
    text-decoration: none;
  
  }
  img{
    width: 100px;
    border-radius: 50%;
    border: var(--primary-color) solid 4px;
    padding: 3.7px;
  }
  footer{
    font-weight: 500;
    font-size: 12px;
    opacity: 0.8;
  }
  footer a{
    color: var(--text-color);
  }